html,
body {
  height: 100%;
}



.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
  background-color: #f5f5f5;
  text-align: center;
  color: gray;
}


.pagination > li > a
{
    background-color: white;
    color: #343a40;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: #5a5a5a;
    background-color: #eee;
    border-color: #ddd;
}

.pagination > .active > a
{
    color: white;
    background-color: #343a40 !Important;;
    border-color: #454d55 !Important;;

}

.pagination > .active > a:hover
{
    background-color:black !Important;
}
